asgiref==3.11.1
beautifulsoup4==4.15.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.3
dj-rest-auth==7.0.1
Django==5.2.15
django-allauth==64.0.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
idna==3.18
oauthlib==3.3.1
pillow==12.2.0
python-dotenv==1.2.2
pycparser==2.23
PyJWT==2.10.1
requests==2.34.2
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
